{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Tracking the Trackers</h1>
<p style="max-width:820px;">is an <strong>online knowledge repository</strong> about digital tracking, profiling, algorithmic decisions, and privacy that focuses on the societal implications of the commercial use of personal information.</p>

<p style="max-width:820px;">In a first step, we are building a curated  <a href="/researchdb/" title="Research database">research database</a>. Think of it as a multitude of reading lists on different topics combined with a 
database of annotated and tagged publications, from news articles to blog posts to academic papers to policy reports.</p>

</div></div>

<div class="container-home">
    <div class="centered clearfix">

      <div class="home-left">
          <a href="/researchdb/" title="Research Database"><img src="{% static "img/home_logo.png" %}" width="354" height="316" alt="Logo" /></a>
      </div>

      <div class="home-right">
          <h2>Research Database</h2>
          <p>Start with the <a href="/researchdb/" title="Research database">topics overview</a> and check out a first set of publications on mobile tracking, location data, fitness apps, credit scoring, student monitoring, face recognition, genetic data or China's social credit system.</p>
          <h2>This is a Prototype</h2>
          <p>Tracking the Trackers is hosted by Cracked Labs, a nonprofit organization based in Vienna. <a href="/about/" title="About">Learn more</a> about the project and our future plans.</p>
          <h2>Reports</h2>
          <p><a href="/projects/" title="Projects">Explore</a> our reports and web publications mapping the structure, scope, and societal implications of today's personal data industries.</p>
      </div>

    </div>
</div>

<div class="container3">
    <div class="centered content">


    </div>
</div>

{% endblock %}
