input.vTextField {
  width:20em;
}

textarea.vLargeTextField {
  width:50%;
  height:60px;
}

input#id_date_as_string {
  width:10em;
}

input#id_title,
input#id_authors,
input#id_publishers,
input#id_publication,
input#id_url,
input#id_url_dl {
  width:50%;
}


#s2id_id_tags,
#s2id_id_companytags {
  min-width:60em;
}

#s2id_id_tags ul,
#s2id_id_companytags ul {
  width:100%;
}

